* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: #f2f2f2;
  font-weight: normal;
}

.container-main {
  min-height: 100vh;
}

/* TITLE */
.title {
  text-align: center;
  padding: 32px 0;
}

.title > h1 {
  font-size: 45px;
  font-weight: 900;
}

.title > span {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: lighter;
}

/* LAYOUT CARDS */
.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.layout-cards {
  width: 300px;
  min-height: 400px;
  padding-bottom: 16px;
  border: 2px solid lightgray;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.layout-cards > p {
  border-radius: 5px;
  background-color: black;
  text-align: center;
  padding: 16px 0;
  font-weight: bold;
  text-transform: capitalize;
}

.layout-dragging {
  background: #444444;
  border-style: dashed;
}

/* SINGLE CARD */
.card-container {
  margin: 16px 16px 0 16px;
  background-color: #61dafb;
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;
}

.card-container > p {
  font-weight: bold;
  font-size: 20px;
}
